In [1]:
#functions(user-defined)

In [1]:
#function add
def add(a,b):
    c=a+b
    return c

In [2]:
#function call
add('4','8')

'48'

In [5]:
c #it shows that c is locally defined

NameError: name 'c' is not defined

In [6]:
def add(a,b):
    global c
    c=a+b
    return c

In [7]:
add(4,8) #here c is globally defined
c

12

In [8]:
#swap function
def swap(a,b):
    return(b,a)

In [9]:
#function call
swap(5,3)

(3, 5)

In [10]:
def local1():
    x='local1'
    print(x)
def local2():
    x='local2'
    print(x)
    local1()
    print(x)

In [11]:
x='global'
local2()
print(x)

local2
local1
local2
global

In [12]:
def local1():
    #global x
    print(x)
def local2():
    x='local2'
    print(x)
    local1()
    print(x)

In [13]:
local2()

local2
global
local2

In [14]:
a,b=5,0
a/b

ZeroDivisionError: division by zero

In [15]:
#Exception Handling
def divide(a,b):
    try:
        a/b
    except ZeroDivisionError:
        print('The remainder cannot be zero')

In [16]:
divide(5,0)

The remainder cannot be zero

In [17]:
#function with string
def intro(country):
    print('I belong from the country '+country)
#function call
intro('India')

I belong from the country India

In [18]:
def intro(country='anywhere around the world'):
    print('I belong from the country '+country)
intro()
intro('India')

I belong from the country anywhere around the world
I belong from the country India

In [19]:
type(None)

NoneType

In [20]:
a=3

In [21]:
a=None

In [22]:
a

In [23]:
print(a)

None

In [24]:
b='My name'

In [25]:
#List and tuple

In [26]:
#List has no definite size, variety of data types can be stored
#List can store multiple values in ordered sequence
l=[]

In [27]:
type(l)

list

In [28]:
l=[2,'d',4,'name',1.414,True] # list is ',' delimited 
print(l[0])

2

In [29]:
l

[2, 'd', 4, 'name', 1.414, True]

In [30]:
l[6]

IndexError: list index out of range

In [31]:
l[-1]

True

In [32]:
l.reverse() #inplace function(automatically gets assigned)

In [33]:
l

[True, 1.414, 'name', 4, 'd', 2]

In [34]:
student_list=[['Manisha',21,'CSE'],['Roshni',20,'ECE']]

In [35]:
student_list[0]

['Manisha', 21, 'CSE']

In [36]:
student_list[0][1]

21

In [37]:
l

[True, 1.414, 'name', 4, 'd', 2]

In [38]:
#slicing of list
l[:3]

[True, 1.414, 'name']

In [39]:
l[2:]

['name', 4, 'd', 2]

In [40]:
l[:-3]

[True, 1.414, 'name']

In [41]:
len(l)

6

In [42]:
#lists are mutable which means we can change the values of list at any time after defining it
l[0]=False
l

[False, 1.414, 'name', 4, 'd', 2]

In [43]:
#list concatenation(not in place)
l+student_list

[False,
 1.414,
 'name',
 4,
 'd',
 2,
 ['Manisha', 21, 'CSE'],
 ['Roshni', 20, 'ECE']]

In [44]:
del student_list[1][0]

In [45]:
student_list

[['Manisha', 21, 'CSE'], [20, 'ECE']]

In [4]:
names=[]
i=0
while True:
    print('enter the name!')
    name=input()
    if(name==''):
        break
    names.append(name)
    i=i+1

enter the name!
s
enter the name!
s
enter the name!
s
enter the name!
m
enter the name!

In [5]:
for word in names:
    print(word)

s
s
s
m

In [48]:
names

['sonia', 'simran', 'saloni', 'rashi', 'MANISHA', "'"]

In [49]:
del names[5]

In [50]:
names

['sonia', 'simran', 'saloni', 'rashi', 'MANISHA']

In [51]:
names.remove('rashi')

In [52]:
names

['sonia', 'simran', 'saloni', 'MANISHA']

In [53]:
'MANISHA' in names

True

In [54]:
'Rashi' in names

False

In [57]:
names[3].lower() # not in-place

'manisha'

In [58]:
names

['sonia', 'simran', 'saloni', 'MANISHA']

In [59]:
n1,n2,n3,n4=names
print(n1,n2,n3,n4)

sonia simran saloni MANISHA

In [60]:
names.index('MANISHA')

3

In [61]:
names.sort()

In [62]:
names

['MANISHA', 'saloni', 'simran', 'sonia']

In [63]:
names.sort(reverse=True)

In [64]:
names

['sonia', 'simran', 'saloni', 'MANISHA']

In [66]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [67]:
#String and tuples are immutable
s='There is no vaccine yet available for covid-19'

In [68]:
s

'There is no vaccine yet available for covid-19'

In [69]:
s[:19]

'There is no vaccine'

In [70]:
s[0]='t'

TypeError: 'str' object does not support item assignment

In [71]:
ss=s+' also known as Sars-2'

In [72]:
ss

'There is no vaccine yet available for covid-19 also known as Sars-2'

In [73]:
s+=' also known as Sars-2'

In [75]:
s

'There is no vaccine yet available for covid-19 also known as Sars-2'

In [76]:
#Tuple
t=('1','name','a',None,44)

In [77]:
t

('1', 'name', 'a', None, 44)

In [78]:
type(t)

tuple

In [79]:
t[0]='5'

TypeError: 'tuple' object does not support item assignment

In [80]:
t.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [81]:
t1=(2,3,4)
t=t+t1

In [82]:
t

('1', 'name', 'a', None, 44, 2, 3, 4)